<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.dao.StudentDao">
    <sql id="selectStudent"> select * from student </sql>
    <select id="findAll" resultType="student" parameterType="student">
        <include refid="selectStudent"></include>
        <where>
            <if test="id!=null and id!=''">
               and id=#{id}
            </if>
            <if test="name!=null and name!=''">
               and name=#{name}
            </if>
            <if test="age!=null and age!=''">
               and age=#{age}
            </if>
            <if test="cid!=null and cid!=''">
               and cid=#{cid}
            </if>
        </where>
    </select>

    <select id="findAll2" parameterType="Integer" resultType="student">
        <include refid="selectStudent"></include>
        /*id in()*/
        <where>
        <foreach collection="array" item="id" open="id in(" close=")" separator=",">
            #{id}
        </foreach>
        </where>

    </select>

</mapper>